.heroSection {
  background: linear-gradient(
      180deg,
      rgb(36, 43, 51) 4.979%,
      rgba(45, 52, 60, 0.38) 51.042%,
      rgb(36, 43, 51) 86.188%
    ),
    url("../../assets/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
